#Binary and Objects
*.o
*.out
*.a
*.exe

## Module00
phonebook

## Module01
zombie
zombieHorde
hi_this_is_brain
weapon_demo
sed_is_for_losers
harl
harlFilter

## Module02
fixed

## Module03

## Module04

#Configs and metadata
.vscode/
.DS_Store

#Scripts and local tools
.scripts/